.product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-card__image {
  display: none;
}

.product-card__name {
  font-weight: 400;
  margin: 0;
  font-size: 1.25rem;
  flex: 1 1 auto;
  text-align: left;
  padding-right: 2rem;
  color: #222;
}

.product-card__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.2rem;
  align-items: center;
  width: auto;
}

.product-card__price {
  font-weight: 700;
  font-size: 1.35rem;
  color: #222;
  background: none;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  min-width: 80px;
  justify-content: flex-end;
}

.product-card__name.in-cart {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  max-width: 20rem;
}

.product-card__button {
  height: 48px;
  width: 75px;
  min-width: 48px;
  min-height: 48px;
  background-color: var(--brand-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  padding: 0;
}

.product-card__price {
  font-weight: 700;
  font-size: 1.35rem;
  color: #222;
  background: none;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  min-width: 80px;
  justify-content: flex-end;
}

.product-card__button.in-cart {
  background-color: #d9534f !important;
  color: #fff !important;
}

@media (width >= 1024px) {
  .product-card__name {
    font-size: 1.1rem;
    padding-right: 0.5rem;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    max-height: 2.7em;
  }

  .product-card__image {
    display: block;
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2e2e2;
  }
}
