.page {
  margin: 0 auto;
}

.page__title {
  display: flex;
  justify-content: center;
}

.page__products {
  padding: 1rem;
}

.page__cart {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

/* --- DESKTOP STYLES --- */
@media (width >= 1024px) {
  .page__content {
    display: flex;
    flex-direction: row;
    padding: 2rem 0 2rem 0;
    gap: 5rem;
    justify-content: center;
  }
  .page__cart {
    position: static;
    padding: 0;
    z-index: auto;
  }
}
