.total-section__summary {
  display: flex;
  gap: 0.5rem;
}

.total-section__total-label {
  font-size: 1.3rem;
  font-weight: 800;
  color: #222;
  text-transform: uppercase;
}

.total-section__products {
  font-size: 1.3rem;
  font-weight: 400;
  color: #222;
}

.total-section__total {
  font-size: 2rem;
  font-weight: 700;
  color: #222;
}
